<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.common.mobile.dao.MobileEntryRoleMapper">
    <resultMap id="BaseResultMap" type="com.bupt.common.mobile.model.MobileEntryRole">
        <id column="entry_id" jdbcType="BIGINT" property="entryId"/>
        <id column="role_id" jdbcType="BIGINT" property="roleId"/>
    </resultMap>
</mapper>
